body{
    background: coral;
}
.myblock{
border:1px solid black;
border-radius: 4%;
background: rgba(0,0,0,0.5);
margin-top:20%;
padding:3%;
}
.h1{
margin-bottom:5% ;
color:coral;
}
.mybtn{
background: rgba(0,0,0,0.5);
}