{% extends "appbuilder/base.html" %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1>{{_("Behandlingsskolen Karlsvognen")}}</h1>
    <p>{{_("Karlsvognen er en dagbehandlingsskole for normaltbegavede børn og unge med 
    vanskeligheder inden for autismespektret i kombination med andre psykiatriske diagnoser, 
    herunder fx ADHD, Tourettes syndrom og OCD.")}}</p>
    <div class="row text-center">
    <img src="/static/img/logo.png">
    </div>
  </div>
</div>

{% endblock %}